#cONFIGURACION DE LA BASE DE DATOS
DB_SERVER=host.docker.internal
DB_PORT=1433
DB_NAME=PHARMACYSYSTEMDB
DB_USER=Sa
DB_PASSWORD=FarmaDi07

#cONFIGURACIÓN DE JWT
JWT_SECRET=X9fL7vQp2eTgB6mYzWcR1uJkAoNsHdEiVqPl
JWT_ISSUER=https://api.FarmaDi.com
JWT_AUDIENCE=https://api.FarmaDi.com